# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# VS Code
.vscode/

# Node (caso venhas a usar npm no futuro)
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local
